aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
decorator
frozenlist
idna
imageio
imageio-ffmpeg
linkGrabber
lxml
moviepy
multidict
nump
Pillow
proglog
pyaes
pyrofork
PySocks
python-decouple
requests
six
soupsieve
speedtest
TgCrypto
tqdm
urllib
yarl
nest_asyncio
